* {
    margin: 0;
    padding: 0; 
}

/* ESTILO DEL HEADER */
.header {
    background-color: #3B2D9B; 
    opacity: 0.9; 
    height: 970px;
}

.nav {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.nav_ul {
    display: flex;
    list-style-type: none;
}

.nav_li a {
    color: rgb(133, 126, 210);
    text-decoration: none;
    padding: 30px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav_li a:hover {
    color: aliceblue
}

.nav_li:hover {
    transform: scale(1.1);
}

.img-header {
    display: flex;
    justify-content: center;
}

.img-header img {
    width: 520px;
    height: 520px;

}

.parrafo-header {
    display: flex;
    justify-content: center;
}


.parrafo-header p {
    color: aliceblue;
}

/* SECTION CARDS */
.section-cards {
    padding-top: 40px;
}

.section-cards img {
    width: 100%;
    height: auto;
}

.card {
    width: 18rem;
    height: 30rem;
}

.col {
    padding: 10px;
}

.card:hover {
    transform: scale(1.1);
}

/* SECTION ABOUT */

.section-about{
    background-color: #3B2D9B; 
    opacity: 0.9; 
    color: aliceblue;
}

.section-about .parrafo {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

/* FOOTER */

.footer{
    background-color: #3B2D9B; 
    opacity: 0.9; 
    padding-top: 70px;
}

.title-footer p {
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.phone-footer a {
    text-decoration: none;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.mail-footer a {
    text-decoration: none;
    color: aliceblue;
    display: flex;
    justify-content: center;
}



/* RESPONSIVE */
@media screen and (max-width: 650px)
{
    .img-header img {
        width: 420px;
        height: 420px;
    }

    .nav_li a {
        color: aliceblue;
        font-size: 20px;
    }

    .card {
        width: 12rem;
        height: 30rem;
        margin: 0 auto;
    }

    .col {
        padding: 3px;
    }

    .section-about .parrafo {
        font-size: 15px;
    }

}

@media screen and (max-width: 400px)
{
    .card {
        width: 10rem;
        height: 30;
    }
}



/* #logo { 
    width: auto;
    max-height: 250px;
    background-color: #3B2D9B; 
    padding-top: 0%;
    opacity: 0.9;
}


#barra {
    background-color: #3B2D9B;
    opacity: 0.9;
   
}

.nav-link {
    color: white;
    background-color: #3B2D9B;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px; 
    text-align: right;
    
}
   

h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    opacity: 10;
    color: black;
    text-shadow: 0.1em 0.1em 0.2em white;
    align-items: center;
}

.card {
    margin: 5%;
    
}

#cards {
    margin: 0 auto;
}

h5 {
    text-align: center;
}
.lista {
    list-style: none;
    text-align: center;
}
.btn {
    background-color: #6D5AE8;
    
    }

#aboutus{
opacity: 0.5;
background-color: #6D5AE8;
}

.text {
    color: white;
    text-shadow: 0.2em 0.2em 0.3em black;
    text-align: center;
    font-size: 17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 15%;
    opacity: 10;
}


#footer {
    background-color: #3B2D9B;
    opacity: 0.9;
    padding: auto;
    color: white;
}

.tittle {
    font-size: 20px;
    padding-bottom: 2%;
}

.info {
    color: white;
    text-decoration: none;
}
.col {
    text-align: center;

}

.bold {
    font-weight: bold;
    font-size: 20px;
}

*/